.flightForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  font-size: 25px;
  align-items: stretch;
  max-width: 400px;
  background-color: #4E267D;
  border-radius: 10px;
}

.flightForm input {
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.flightForm button {
  font-size: 25px;
  padding: 10px;
  background-color: #FFBB00;
  color: black;
  border-radius: 10px;
}

.container{
  position: relative;
}

.location,
.date
{
  position: absolute;
  width: 25px;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}