.loginForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  font-size: 25px;
  align-items: stretch;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
}

.loginForm input {
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
}

.loginForm a {
  align-self: center;
}

.loginButton {
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  background-color: #435cae;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  color: #435cae;
  align-self: center;
}

.errorMessage {
  color: red;
  font-size: 20px;
  text-align: center;
}
