.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  background-color: #4e267d;
  color: aliceblue;
}

.section {
  display: flex;
  gap: 40px;
}

.title {
  font-size: 25px;
  font-weight: 600;
}

.a {
  text-decoration: none;
  color: aliceblue;
}

.link {
  text-decoration: none;
  color: aliceblue;
}


