.seatMap{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E267D;
    background-image: url('../Assets/seat_map.svg');
    min-height: 2000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-self: center;
    min-width: 300px;
    padding: 30px;
}



.row:nth-of-type(3) div{
    background-color: #FFD464;
}

.element{
    background-color: #E6D1FF;
    min-width: 50px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
}
