.reservedSeat,
.nonReservedSeat {
  border: none;
  font-size: 30px;
  background-color: #ffdfb9;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
}

.reservedSeat:hover {
  background-color: #cdb494;
}

.nonReservedSeat {
  background-color: #a4193d;
  color: white;
}
