.reservedSeat,
.nonReservedSeat,
.line {
  border: none;
  font-size: 30px;
  background-color: #ffdfb9;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
}

.ReservedSeat {
  background-color: #a4193d;
  color: white;
}

.line {
  text-decoration: line-through;
}
