.signupForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  font-size: 25px;
  align-items: stretch;
  min-width: 400px;
  border: 3px solid white;
  border-radius: 40px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  color: #FFFFFF;
  align-self: center;
}

.signupForm input {
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
}

.signupForm a {
  align-self: center;
}

.signupForm button {
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  background-color: #007AFF;
  color: white;
  border-radius: 10px;
  border: none;
}

.haveAccountMessage{
  align-self: center;
  color: white;
}


.login{
  color: #FFC17A;
  text-decoration: none;
}

.errorMessage {
  color: red;
  font-size: 20px;
  text-align: center;
}
